body {
    padding: 10px;
    background: #fff !important;

    .wrapper {
        margin-top:60px !important;

    }
    .navbar {
        background: lightskyblue;
        .container {
            width:100%;
            a {
                color:#fff;
                &:hover {
                     color: #ddd !important;
                 }
            }
            .nav {
                color:#fff;
                a {
                  color: #fff;
                  .caret {
                      border-bottom-color: #fff;
                      border-top-color: #fff;
                  }
                }
            }
            .dropdown-menu {
              a {
                color:#777;
                &:hover {
                     color:#444 !important;
                 }
              }
            }
        }
    }
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top:5%;
  background: #F0F0F0;
  border-radius: 12px;

}

.clearboth {
    clear:both;
}

.pos_wrapper {
  .panel {
    &.col-sm-6 {
         padding:0px;
    }
  }
}
