.table-responsive
  %table.inv-table
    %tr
      %td.pull-right.inv-data #{sale.amount}
      %td.pull-right Total Price:
    %tr
      %td.pull-right.inv-data #{sale.tax}
      %td.pull-right Tax:
    %tr
      %td.pull-right.inv-data #{sale.discount}
      %td.pull-right Discount:
    %tr
      %td.pull-right.inv-data #{sale.total_amount}
      %td.pull-right Net Amount:
